<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> <title><= title %></title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to <%= title %>!</h1>
  <h2>I am Joshua Emmanuel B. Macam</h2>
  <h2>A 2nd Year Student</h2>
  <h2>From Holy Angel University</h2>
  <h2>I live in Mabalacat City, Pampanga</h2>
</body>
</html>